This is Learning page. Blog recommendations must be shown here.

<form action="$!learnlink" name="searchBlogs">
    <input type="text" id="searchTerm" name="searchTerm" placeholder="Search"/>
    <input type="submit" value="Search"/>
</form>

#if(!$categories.isEmpty)
<div class="row">
    #paginate("\#categorypage(\$categories)" $itemcount "" "page")
</div>
#end

#if(!$blogs.isEmpty)
Blogs -
<ul>
    #foreach($blog in $blogs)
        <li><a href="$!blog.url" target="_blank">$!blog.title</a></li>
    #end
</ul>
#end
